.header {
  display: flex;
  flex-wrap: wrap; /* Permet le retour à la ligne */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.header h1 {
  font-size: 30px;
  font-weight: 700;
  color: hsl(var(--foreground));
  flex: 1 1 auto;
  margin-bottom: 16px;
}

.header .header-right {
  display: flex;
  align-items: center;
  gap: 12px;
  flex: 1 1 auto;
  justify-content: flex-end;
}